{% extends 'base.html.twig' %}

{% block title %}Listagem de produto - {% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
        
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}

        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
        
    {% endfor %}

    <h1>Listagem de produto</h1>
    <hr>

    <div class="col-md-12">
        <a class="btn btn-lg btn-primary float-right" href="{{ path('cadastrar_produto') }}">Adicionar produto</a>
    </div> 

    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th>Cod.</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            {% for produto in produtos %}

                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ produto.preco | number_format(2, ",", ".")}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('visualizar_produto', {'id': produto.id}) }}"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-sm btn-warning" href="{{ path('editar_produto', {'id': produto.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-danger btn-delete-product" href="{{ path('apagar_produto', {'id': produto.id}) }}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                
            {% endfor %}

        </tbody>

    </table>

    <script>
        $(document).ready(function(){
            $('.btn-delete-product').click(function(e){
                
                e.preventDefault();
                var url = $(this).prop('href');

                if(confirm('Tem certeza que deseja excluir esse produto?')){

                    window.location = url;
                }
            })
        });
    </script>

{% endblock %}
